<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>New Product</h3>
			<form action="/products/<%= @product.id %>" method="post">
				<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
				<input type="hidden" name="_method" value="patch">
				<div class="form-group">
				    <label for="name">Name</label>
				    <% if flash[:name_error] %>
					    <% flash[:name_error].each do |error| %>
					    	<h5 class="text-danger"><%= error %></h5>
					    <% end %>
				    <% end %>
				    <input type="text" name="product[name]" class="form-control" id="name" placeholder="name" value="<%= @product.name %>">
			    </div>
			    <div class="form-group">
				    <label for="description">Description</label>
				    <% if flash[:description_error] %>
					    <% flash[:description_error].each do |error| %>
					    	<h5 class="text-danger"><%= error %></h5>
					    <% end %>
				    <% end %>
				    <input type="text" name="product[description]" class="form-control" id="description" placeholder="description" value="<%= @product.description %>">
			    </div>
			    <div class="form-group">
				    <label for="pricing">Price</label>
				    <% if flash[:pricing_error] %>
					    <% flash[:pricing_error].each do |error| %>
					    	<h5 class="text-danger"><%= error %></h5>
					    <% end %>
				    <% end %>
				    <input type="input" name="product[pricing]" class="form-control" id="pricing" placeholder="pricing" value="<%= @product.pricing %>">
			    </div>
			    <div class="form-group">
				    <label for="category">Category</label>
				    <select class="form-control" name="product[category_id]">
				    	<% if @categories %>
					    	<% @categories.each do |category| %>
					    	<% if category.id == @product.category_id %>
					    		<option value="<%= category.id %>" selected><%= category.name %></option>
					    	<% else %>
								<option value="<%= category.id %>"><%= category.name %></option>
							<% end %>
							<% end %>
						<% end %>
				    </select>
				    <% if flash[:categories_error] %>
					    <% flash[:categories_error].each do |error| %>
					    	<h5 class="text-danger"><%= error %></h5>
					    <% end %>
				    <% end %>
			    </div>
			    <button type="submit" class="btn btn-default">Update</button>
			</form>
		</div>
		<div class="col-sm-12">
		    <div class="nav">
				<a href="/products/<%= @product.id%>" class="btn btn-link">Show</a> | <a href="/products/" class="btn btn-link">Back</a>
			</div>
		</div>
	</div>
</div>