<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Listing Products</h3>
		</div>
		<div class="col-sm-12">
			<h5><a href="/comments/" class="btn btn-default btn-sm">All comments</a></h5>
		</div>
		<div class="col-sm-12">
			<div class="table-responsive">
			<table id="product-listings" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Category</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @products.each do |product| %>
					<tr>
						<td><%= product.name %></td>
						<td><%= product.description %></td>
						<td><%= number_to_currency(product.pricing) %></td>
						<td><%= product.catname %></td>
						<td>
							<a href="/products/<%= product.id %>" class="btn btn-link">Show</a> | 
							<a href="/products/<%= product.id %>/edit" class="btn btn-link">Edit</a> | 
							<form class="form-inline" action="/products/<%= product.id %>" method="post">
								<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
								<input type="hidden" name="_method" value="delete">
								<input type="submit" class="btn btn-link" value="Destroy">
							</form>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>
			</div>
			<a href="/products/new" class="btn btn-link">New Product</a>
		</div>
	</div>
</div>