<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Show Product</h3>
			<h5>Name:</h5>
			<p><%= @product.name %></p>
			<h5>Description:</h5>
			<p><%= @product.description %></p>
			<h5>Pricing:</h5>
			<p><%= @product.pricing %></p>
			<h5>Category:</h5>
			<p><%= @product.catname %></p>
			<a href="/products/<%= @product.id %>/edit" class="btn btn-link">Edit</a> | <a href="/products/" class="btn btn-link">Back</a>
		</div>
	</div>
</div>